body{
    margin :0;
    padding: 0;

}

.index{
   height: 980px;
   
    background-image: url('../img/indexBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/*------Form------*/
/*------Form------*/
/*------Form------*/
.containerForm{
    width: 20%;
    margin: 0 auto;
    text-align: center; 
    padding: 20px;
    
}

.containerForm input{
    display: block;
    margin: auto;
}

.formRegister{
    background-color: #F5D1D1;
    margin-top: 250px;
    padding: 20px;
}

.registerButton{
   
    padding: 20px;
    border-style: solid;
    border-color: grey;
}

.error{
    padding: 5px;
    color: red;
    
}


#signInButton{
    display: block;
    margin-top: 10px;
    padding: 20px;
    border-style: solid;
    border-color: grey;
    text-decoration: none;
}


@media all and (max-width: 680px){
    .containerForm{
        width: 300px;
        margin: 0 auto;
        text-align: center; 
        padding: 20px;
        
    }

    .containerForm input{
        width: 200px;
        display: block;
        margin: auto;
    }
}